<script src="~/Scripts/jquery-1.9.1.js"></script>
<script type="text/javascript" src="~/Scripts/modernizr-1.5.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript">   

    var timing;
    $(document).ready(function GetStatus() {
        jQuery.support.cors = true;

        $.ajax({
            url: '/api/buildStatus?product="DST"',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponses(data);
            },
            timeout: timing = ("GetStatus()", 1000),
            complete: timing = setTimeout(function () { GetStatus() }, 1000),
            error: function () {
                $('#Button1').removeAttr('disabled'),
                clearTimeout(timing);
            }
        });

        function WriteResponses(logs) {
            if (logs.Message == null) {
                document.getElementById('message').innerHTML = "<h2>Ready to build.</h2>";;
            } else { document.getElementById('message').innerHTML = "<h2>" + logs.Message + "</h2>" }
        }
    })

    //Get Versions for dropdownlist (with sort)
    $(document).ready(function GetRelease(){
        $.ajax({
            type: "GET",
            url: '/xml/DST/release',
            dataType: "json",
            success: function (data) {
                var result = [];
                $.each(data, function (key, value) {
                    result[key] = value;
                });

                result.sort;

                $.each(result, function (index, value) {
                    if (value != undefined) {
                        var appenddata = "<option value = '" + value.Release + " '>" + value.Release + " </option>";
                        $(appenddata).appendTo('#DLRelease');
                    }
                })

                GetVersionFromRelease();
            }
        });
    })

    function GetVersionFromRelease() {
        var urlparam = $('#DLRelease').val();
        $.ajax({
            type: "GET",
            url: '/xml/DST/version?release=' + urlparam,
            dataType: "json",
            success: function (data) {
                var json = data;
                var x = findElement(json, "Version");
                var valsplit = x.split('.');
                document.getElementById('v1').value = valsplit[0];
                document.getElementById('v2').value = valsplit[1];
                document.getElementById('v3').value = valsplit[2];
                document.getElementById('version').value = valsplit[3] 
            }
        });

    }

    function findElement(arr, propName) {
        for (var i = 0; i < arr.length; i++)
            return arr[i][propName];
    }

    function PushCodeToLogsa() {
            $('#Button1').prop('disabled', true);
            var release = $('#DLRelease').val().trim();
            var version = $('#v1').val() + "." + $('#v2').val() + "." + $('#v3').val() + "." + $('#version').val().trim();
            $.ajax({
                type: "POST",
                url: "/api/pushCode?product=DST&release=" + release + "&version=" + version,
                data: {},
                contentType: "application/json; charset=utf-8",
                datatype: "JSON",
                success: function () { $('#Button1').removeAttr('disabled'), clearTimeout(timing) },
                error: function () {
                    $('#Button1').removeAttr('disabled'),
                    clearTimeout(timing);
                }
            });
        }
    
</script>

             
    <div id="site_content">
        <form name="builder" action="#" method="post">              
        <div id="sidebar_container">
                    <div class="sidebar">
                        <h4>Build Status</h4>
                        <h5><span id="message"></span></h5>
                    </div> 
                </div>
             <div id="center">
                 <table>
                     <tr>
                         <td>From Release</td>
                         <td><select id="DLRelease" onchange="GetVersionFromRelease()"></select></td>
                     </tr>  
                     <tr>
                         <td>Version</td>
                         <td>
                             <input id="v1" type="text" style="width:25px" disabled ="disabled" />
                             <input id="v2" type="text" style="width:25px" disabled ="disabled" />
                             <input id="v3" type="text" style="width:25px" disabled ="disabled" />
                             <input style="width:25px" id="version" name="name" />
                         </td>
                     </tr>                        
                     <tr>
                         <td colspan="2"><b>This will organize code and push to Egnyte.</b></td>                         
                     </tr> 
                 </table>        
            </div>
             <div class="form_settings">
                 <input id="Button1" class="submit" type="button" value="Generate" onclick="PushCodeToLogsa()" />
             </div>    
          </form>
        </div>

<script>
    //jquery
    $("#version").spinner();
</script>


